#search-btn {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  font-family: Baloo;
}

.a1 {
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 35px;
  background-color: #213458;
  color: white;
  font-size: 16px;
  border: 2px solid #21294C;
}
