/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
#search-btn {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}
