.engine-content {
  margin: 15px;
}

.margin-button {
  margin-bottom: 10px;
}

#hunt-title-category {
  margin: 10px;
  line-height: 1;
}

#hunt-description {
  margin: 20px;
}

#form-show {
  margin: 10px;
}

.hunt-desc-text {
  font-size: 14px;
  padding: 0px;
  justify-content: center;
  font-weight: bold;
}

.distance-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.design-button {
  border-radius: 10%;
  font-weight: bold;
  font-size: 12px;
}

.gmnoprint {
  display: none;
}
