.engine-content {
  margin: 15px;
}

.margin-button {
  margin-bottom: 10px;
}

#hunt-title-category {
  margin: 20px;
}

#hunt-description {
  margin: 20px;
}

#form-show {
  margin: 10px;
}

.hunt-desc-text {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
