<h1 class="text-center">Available hunts</h1>

<div class="container">
  <div class="row">
    <% @hunts.each do |hunt| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-description">
            <ul class="list-unstyled">
              <li id="hunt-name"><strong>--<%=hunt.name.capitalize %>--</strong></li>
              <br>
              <li><strong>Category:</strong> <i><%= hunt.category.name.capitalize %></i></li>
              <li><strong>Distance:</strong> <i><%= hunt.mydistance %></i></li>
            </ul>
          </div>
          <div class="difficulty"><strong>Difficulty : <%= hunt.difficulty %> / 5</strong></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
