<div class="my-body">
  <div class="my-content">
    <div class="hunt-content">


<div id="hunt-contents">
  <%= render 'hunt_content', hunt: @hunt, checkpoint: @checkpoint %>
</div>

<div class="modal fade" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You found the checkpoint <i class="fa fa-check"></i></h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Go to the next checkoint</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="fail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You're not even close' <i class="fa fa-cross"></i></h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Try again</button>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      navigator.geolocation.getCurrentPosition(success, error, options);
      circle = [{lng: <%= @checkpoint.log %>, lat: <%= @checkpoint.lat %>, radius: 25, strokeColor: '#0000FF'}]
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {

        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
        handler.addCircles(circle)

      });
      function success(pos) {
        var crd = pos.coords;

        $('#check_latitude').val(crd.latitude);
        $('#check_longitude').val(crd.longitude);
        $('#check_accuracy').val(crd.accuracy);

        console.log(" I am inside :after_js in play.html.erb")

        //$('#check-form').submit();
      };

      function error(err) {
        console.warn('ERROR(${err.code}): ${err.message}');
      };
      var options = {
        enableHighAccuracy: true,
        maximumAge: 0
      };

    });



  </script>

<% end %>



</div>
</div>
</div>
