<footer>
  <ul class='list-inline'>
    <li>
      <a href="http://twitter.com">
        <i class='fa fa-twitter'></i>
      </a>
    </li>
    <li>
      <a href="http://facebook.com">
        <i class='fa fa-facebook'></i>
      </a>
    </li>
    <li>
      <a href="http://instagram.com">
        <i class='fa fa-instagram'></i>
      </a>
    </li>
  </ul>
  <p class="foot_note">This app has been created by the BFH Team from LeWagon#67.</p>
</footer>
