<div class="footer text-center">
  <div class="footer-left">
    <p id= "p1">Project creators :</p>
    <p id= "p1">Baturay Ahmad, Florian Ruf & Hery Rabary</p>
    <p id= "p1">Batch#67 Le Wagon</p>
  </div>
  <div class="footer-mid">
    <a href="http://twitter.com">
      <i class='fa fa-twitter'></i>
    </a>
    <a href="http://facebook.com">
      <i class='fa fa-facebook'></i>
    </a>
    <a href="http://instagram.com">
      <i class='fa fa-instagram'></i>
    </a>
  </div>
  <div class="footer-right">
    <p id= "p2">Escapin' City | info@batch67.com :</p>
    <p id= "p2">Privacy Policy - Terms of Service</p>
    <p id= "p2">©2017 Escapin'City Ruby on Rails</p>
  </div>
</div>

