<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/background.jpeg');">
  <div class="banner-content">
    <div class="container">
      </div>
        <%= simple_form_for :hunt, url: hunts_path, method: :get do |f| %>
          <div class="form-group row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
              <%= f.input :city, placeholder: "Enter a city", id: 'city' %>
            </div>

            <div class="col-xs-12 col-sm-4">
              <%= f.input :category, collection: @categories, placeholder: "Pick a category", id: 'category' %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
              <%= f.button :submit, "Find an Escape", class: "btn btn-primary btn-lg", id: 'search-btn' %>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</div>


