
footer {
background: #ccc;
position:absolute;
bottom: 0px;
width: 100%;
padding-top: 50px;
height: 50px;
text-align: center
}

.list-inline {
font-size: 35px;
}

.foot_note {
    font-size:14px;
  }
