
.footer {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  background: #141829; /*#213458; /*#F9F2D7;*/
  position:absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
}

a {
  font-size: 25px;
  font-color: #213458;
}

p, .p1, .p2 {
  font-size: 12px;
  font-style: bolder;
  color: white;
}

.footer-left {
  text-align: left;
  flex: 0 1 auto;
}

.footer-mid {
  flex: 1 1 auto;
}

.footer-right {
  flex: 0 1 auto;
}
