
.footer {
  display: flex;
  align-items: center;
  background: #141829;
  width: 100%;
  height: 80px;
  padding: 10px;
}
#p1, #p2 {
  font-size: 8px;
  font-style: bolder;
  color: white;
  padding: -2px;
  color: grey;
}

.footer-left {
  text-align: left;
  flex: 0 1 auto;
}

.footer-mid {
  flex: 1 1 auto;
    a {
      color: #4CEAA0;
    }
}

.footer-right {
  flex: 0 1 auto;
}
