.content {
  background-color: #FEF7E5;
}

.container {
    background-color: #FEF7E5;
}
h1 {
  font-family: "Baloo", "Open Sans",Verdana,Geneva,sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #141829;
}
.hunt-card {
  position: relative;
  width: 100%;
  box-shadow: 10px 10px 40px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 40px;
  background-color: #141829;
  border-radius: 5px;
}
.top-hunt-card {
  height: 65%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
h2 {
  font-family: "Baloo", "Open Sans",Verdana,Geneva,sans-serif;
  font-size: 25px;
  padding-left: 10px;
  color: #54EAA3;
}
.test-image {
  object-fit: cover;
  width: 100%;
  height: 175px;
}
.bottom-left-hunt-card {
  height: 35%;
  width: 100%;
  text-align: left;
  border: none;
  line-height: 8px;
}
.description {
  color: #FEF7E5;
  font-family: "Open Sans",Verdana,Geneva,sans-serif;
  font-size: 12px;
  padding-left: 10px;
}
.bottom-right-hunt-card {
  color: #FEF7E5;
  font-family: "Open Sans",Verdana,Geneva,sans-serif;
  height: 35%;
  width: 100%;
  //text-align: right;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  //padding-right: 10px;
  padding-left: 10px;
}

.bottom-hunt-card {
  display: flex;
  //justify-content: space-around;
  flex-direction: column;
}

.bottom-hunt-card:hover {
  display: block;
  background-color: #00bc66;
}

