.my-body {
  display: flex;
  flex-direction: column;
  min-height: 89vh;
}

.my-content {
  display: flex;
  flex-grow: 1;
}

.hunt-content {
  display: flex;
  flex-grow: 1;
  position: relative;
}

#hunt-contents {
  display: flex;
  flex-grow: 1;
  position: relative;
}

#map {
  flex-grow: 1;
  position: relative;
}

#btn-clue {
  position: absolute;
  bottom: 30px;
  left: 10px;
  border-radius: 24px;
}


#btn-verify {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 24px;
}

//
// .verify-form {
//   align-items: center;
//   justify-content: space-between;
//   justify-content: center;
//   z-index: 1;
//   text-align: center;
//   text-decoration: none;
//   font-size: 16px;
//   margin: 4px 2px;
// }
//
// .my-modal-button {
//   align-items: center;
//   justify-content: space-between;
//   justify-content: center;
//   z-index: 1;
//   text-align: center;
//   text-decoration: none;
//   font-size: 16px;
//   margin: 4px 2px;
// }
