
.my-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#map {
  border: 5px solid;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
}

// .content {
//   flex-grow: 1;
//   display: flex;
// }
.hunt-content {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.form-button {
  position: absolute;
  top: 10px;
  left: 10px;
}
.btn-clue {
  position: absolute;
  bottom: 10px;
  left: 10px;
}




//
// .verify-form {
//   align-items: center;
//   justify-content: space-between;
//   justify-content: center;
//   z-index: 1;
//   text-align: center;
//   text-decoration: none;
//   font-size: 16px;
//   margin: 4px 2px;
// }
//
// .my-modal-button {
//   align-items: center;
//   justify-content: space-between;
//   justify-content: center;
//   z-index: 1;
//   text-align: center;
//   text-decoration: none;
//   font-size: 16px;
//   margin: 4px 2px;
// }
